*{
    box-sizing:border-box ;
}

h1{
    text-align: center;
    color: rgb(183, 32, 32);
}
.color{
    background-color: burlywood;
    text-align: center;
    text-decoration: dotted;
}
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

/* Add animation to the links */
a {
    transition: color .5s ease-in-out;
}

/* Add animation to the headings */
h2 {
    transition: background-color .5s ease-in-out;
}

h2:hover {
    background-color: #007bff;
    color: white;
}

p {
    font-weight: normal;
}
img{
    height:box-600px;
    width: 555px;
    background-attachment: fixed;
}
*{
font-weight: lighter;
background-color: beige;
color:rgb(133, 32, 32);
}


